{% extends 'store/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="fw-bold mb-4">🛒 My Cart</h2>

    {% if products %}
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>₹{{ product.price }}</td>
                <td>₹{{ product.subtotal }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <h4 class="text-end">Total: ₹{{ total }}</h4>

    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
